body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header {
  background-color: #ffffff;
}
.header-navigation {
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ea5;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.accent {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
}
.header-list {
}
.header-item {
}
.header-link {
  color: #2e2f42;
  font-weight: 500;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.contacts {
}
.contacts-list {
}
.contact-item {
}
.contact-mail {
  font-family: 'Roboto', sans-serif;
  color: #434445;
  font-weight: 400;
  font-size: 16px;
}
.contact-mail:hover,
.contact-mail:focus {
  color: #404bbf;
}
.contact-number {
  font-family: 'Roboto', sans-serif;
  color: #434445;
  font-weight: 400;
  font-size: 16px;
}
.contact-number:hover,
.contact-number:focus {
  color: #404bbf;
}
.slogan {
  background-color: #2e2f42;
}
.slogan-name {
  color: #ffffff;
}
.buy-btn {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #4d5ea5;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}
.buy-btn:hover,
.buy-btn:focus {
  background-color: #404bbf;
}
.features {
}
.visually-hidden {
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.features-list {
}
.features-item {
}
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.features-text {
}
.team {
  background-color: #f4f4fd;
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.team-description {
}
.cases {
}
.cases-list {
}
.cases-item {
}
.cases-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.cases-description {
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ea5;
  font-weight: 700;
  font-size: 18px;
}
.footer-accent {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
}
.footer-text {
  color: #f4f4fd;
}
